.form-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Ajusta la altura al 100% de la ventana */
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
  background-color: rgba(255, 255, 255, 0.3); /* Fondo transparente */
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.card {
  background-color: rgba(255, 255, 255, 0.5); /* Más transparencia */
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}

.form-group label {
  display: block;
  margin-top: 10px;
  color: #fff; /* Cambiar color de texto a blanco para mejor visibilidad */
}

.form-control {
  background-color: rgba(255, 255, 255, 0.8); /* Un poco más opaco que la tarjeta */
  color: #000;
}

button.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  width: 100%;
}

a.btn-link {
  color: #fff;
}
