<div class="register-container">
  <h2>Registrarse</h2>
  <form (ngSubmit)="onRegister()" #registerForm="ngForm">
    <input
      type="text"
      name="nombre"
      placeholder="Nombre"
      required
      [(ngModel)]="user.nombre"
      #nombre="ngModel"
    />
    <div *ngIf="nombre.invalid && nombre.touched" class="error">
      El nombre es requerido.
    </div>

    <input
      type="text"
      name="apellido"
      placeholder="Apellido"
      required
      [(ngModel)]="user.apellido"
      #apellido="ngModel"
    />
    <div *ngIf="apellido.invalid && apellido.touched" class="error">
      El apellido es requerido.
    </div>

    <input
      type="text"
      name="ci"
      placeholder="Cédula de Identidad (CI)"
      required
      [(ngModel)]="user.ci"
      #ci="ngModel"
    />
    <div *ngIf="ci.invalid && ci.touched" class="error">
      La CI es requerida.
    </div>

    <input
      type="email"
      name="email"
      placeholder="Correo Electrónico"
      required
      [(ngModel)]="user.email"
      #email="ngModel"
    />
    <div *ngIf="email.invalid && email.touched" class="error">
      Correo inválido.
    </div>

    <button type="submit" [disabled]="registerForm.invalid">
      Registrarse
    </button>
  </form>

  <div class="link">
    <a routerLink="/login">¿Ya tienes una cuenta? Inicia sesión</a>
  </div>
</div>
